body{
    background: rgb(47, 47, 54); 
}

.title-container{
    display: flex;
    border-bottom: solid rgb(124, 124, 124) 2px;
    padding-bottom: 0.5em;
}
h1{ 
    font-size: 4em;
    align-self: flex-end;
    margin: 0.2em 0.2em;
    color: white;
}

.library-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 3%;
}
.book-container{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 5px 5px black;
    font-size: 1.2em;
    padding: 10px 20px;
    color: white;
}
.book-container .close-book{
    position: absolute;
    top: 0;
    right: 5px; 
    font-size: 1.2em;
}
.book-container.read{
    background: linear-gradient(135deg, rgb(1, 138, 1), rgb(0, 91, 134))
}
.book-container p{
    margin: 0.5em 0;
}
.book-container.not-read{
    background: linear-gradient(135deg, rgba(54, 54, 54), rgb(160, 159, 159))
}
.book-container .read-button{
    height: 40px;
    width: 40%;
    margin: 5px auto;
    background: linear-gradient(rgb(0, 0, 0),rgb(80, 80, 80));
    color: white;
}
.book-container .read-button:hover{
    opacity:0.8;
}
.book-container .read-button:active{
    transform: scale(1.1);
}

.book-form-container{
    display: flex;
    color: grey;
    flex-direction: column;
    background: rgb(31, 31, 31);
    border: 3px solid black;
    padding: 40px 20px;
}
.book-form-container>*{
    padding: 15px;
    margin: 15px 0;
    font-size: 2em;
}
.book-form-container .read-container{
    display: block;
    position: relative;
    cursor: pointer;
}
.read-container{
    margin: 0 0 20px 20px;
}
.read-container input{
    position: absolute;
    cursor: pointer;
    transform: scale(2);
    padding: 10px;
    top: 7px;
    left: 25%;
}
.book-form-container input{
    background:rgba(128, 128, 128, 0.376);
    width: 80%;
    margin:20px auto;
}
.book-form-container .submit{
    background: darkgreen;
    color: white;
    margin: auto;
    width: 70%;
}
.book-form-container .submit:hover{
    background: rgb(0, 133, 0);
}
.book-form-container .submit:active{
    background: rgb(0, 53, 0);
    transform: scale(1.1);
}

.form-popup{
    display: none;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 9;
}

.close{
    display: block;
    position: absolute;
    top: 0px;
    right: 5px;
    background: none;
    color: black;
    border: none;
    padding: 5px 5px;
    margin: 0;
    font-size: 2em;
}
.close:hover{
    opacity:0.5;
}

#open_Form{
    display: flex;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(rgb(0, 89, 255), rgb(30, 1, 112));
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#open_Form:hover{
    opacity: 0.8;
    animation-name: spin;
    animation-duration:2000ms;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
#open_Form span{
    margin: auto;
    color: white;
    font-size: 3em;
    font-weight: 900;
}
.close-book-animation{
    animation-name: shrink-away;
    animation-duration:500ms;
    animation-iteration-count:1;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
}


/*=============Animations============*/
/*===================================*/
@keyframes spin{
    0% {transform:rotate(0deg);}
    50% {transform:rotate(135deg) scale(1.1); opacity:0.8;}
    100% {transform:rotate(0deg); opacity:0.8;}
}

@keyframes shrink-away{
    from {transform: scale(1);}
    to {transform:scale(0);}
}